.parallax{
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
}

.parallax-layer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding:100vh 0;
}
/*scale = 1+(translateZ * -1)/perspective*/
.parallax-base-layer{
	transform:translateZ(0px);
	background-image: url("ireland1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	
}
.parallax-back-layer{
	transform:translateZ(-10px) scale(11);
	background-image: url("oregon.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
.holder-text{
	position: absolute;
	left:50%;
	top:10%;
}